<main id="root"></main>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script src="https://use.fontawesome.com/023f5a96d3.js"></script>

<script src="typed.js"></script>
