.comment-item{
  border-bottom: 1px solid #D0D8DB;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.commentor-avatar{
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: 20px;
}

.comment-author{
  color: #1A2E3B;
  font-weight: 700;
  cursor: pointer;
  font-size: .875rem;
}

.comment-body{
  color: #4E5A5E;
  margin: .3125rem 0 .625rem;
  font-size: .875rem;
  line-height: 1.4;
  font-weight: 400;
  overflow-wrap: break-word;
}

.update-delete-settings{
  position: absolute;
  top: .5rem;
  right: .625rem;
  display: flex;
  flex-direction: row;
}

.comment-settings-item{
  padding: 0;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  background: 0 0;
  vertical-align: middle;
}

.comment-settings-item:first-child:after{
  margin-right: .3125rem;
  color: #D0D8DB;
  content: ' | ';
}

#edit-comment{
  color: #657987;
}

#edit-comment:hover{
  color: #3A5161;
}

#delete-comment{
  margin-right: .3125rem;
  color: #FF4D4D;
}

#delete-comment:hover{
  color: #D93636;
}
