@import "mixins";

.comment-item{
  border-bottom: 1px solid #D0D8DB;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.commentor-avatar{
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: .9375rem;
}

.comment-author{
  color: #1A2E3B;
  font-weight: 700;
  cursor: pointer;
  font-size: .875rem;
  display: inline;
}

.comment-body{
  color: #4E5A5E;
  margin: .3125rem 0 .625rem;
  font-size: .875rem;
  line-height: 1.4;
  font-weight: 400;
  overflow-wrap: break-word;
}

.comment-replies{

}

.reply-item{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: -35px;
  margin-bottom: 1.875rem;
}

.reply-body{
  background: #F6F7F8;
  padding: .9375rem;
  height: 45px;
  width: 738px;
  max-width: 768px;
}

.reply-avatar{
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-right: .625rem;
}

.reply-author{
  font-weight: 700;
}

.comment-item-timeago{
  display: inline;
  font-size: 13px;
  color: #8A9599;
  margin-left: .3125rem;
}

.update-delete-settings{
  position: absolute;
  top: 1.5rem;
  right: .625rem;
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.comment-settings-item{
  padding: 0;
  font-size: 11px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  background: 0 0;
  vertical-align: middle;
  &:first-child:after{
    margin-right: .3125rem;
    color: #D0D8DB;
    content: ' | ';
  }
}

.delete-comment-confirm-container{
  width: 150%;
  border-radius: 5px;
  margin-bottom: 1.25rem;
  padding: 1.25rem 2.5rem 1.25rem 2.875rem;
  background-color: #FFEDED;
}

.delete-notification{
  display: flex;
  flex-direction: row;
}

.fa-exclamation-triangle{
  margin-right: 8px;
  vertical-align: middle;
  color: #FF4D4D;
}

#edit-comment{
  color: #657987;
  &:hover{
    color: #3A5161;
  }
}

#delete-comment{
  margin-right: .3125rem;
  color: #FF4D4D;
  &:hover{
    color: #D93636;
  }
}

#delete-comment-confirm{
  @include ui-button;
  font-size: 16px;
  padding: .5625em .875em .65em;
  line-height: 1.3;
  background-color: #FF4D4D;
  margin-top: 20px;
  &:hover{
    transition: 0.2s;
    background-color: #D93636;
  }
}

#delete-comment-cancel{
  @include ui-button;
  margin-left: .625rem;
  font-size: 16px;
  color: #FF4D4D;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #FF9D9D;
  padding: .5625em .875em .65em;
  line-height: 1.3;
  &:hover{
    background-color: #FFDBDB;
    color: #D93636;
  }
}

#edit-comment-save{
  @include ui-button;
  font-size: 16px;
  padding: .5625em .875em .65em;
  line-height: 1.3;
  background-color: #657987;
  margin-top: 20px;
  &:hover{
    background-color: #3A5161;
    transition: 0.2s;
  }
}

#edit-comment-save-disabled{
  @include ui-button-disabled;
  font-size: 16px;
  padding: .5625em .875em .65em;
  line-height: 1.3;
  margin-top: 20px;
}
