@import "mixins";

.logo-logged-in{
  height: 72px;
  vertical-align: middle;
  margin: -12px 0 -12px 40px;
}

.logo-logged-out{
  height: 72px;
  vertical-align: middle;
  margin: -23px 0 -15px 40px;
}

#nav-bar-logged-in{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 42px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EEF1F2;
}

#nav-bar-logged-out{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 42px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EEF1F2;
}


.nav-left{
  display: flex;
  flex-direction: row;
  li{
    list-style: none;
  }
}

.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  >li{
    margin-right: 25px;
  }
}


.nav-avatar{
  position: relative;
  vertical-align: center;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  top: 8px;

}

.join-button{
  @include ui-button;
  margin-right: 20px;
  padding: 5px 10px;
  background: #7FC400;
  &:hover{
    background: #8aac42;
    transition: 0.2s;
  }
}

.login-button{
  text-decoration: none;
  margin-right: 20px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 15px;
  color: #607680;
  &:hover{
    @include link-hover-black;
  }
}

.upload-button{
  @include ui-button;
  background-color: #657987;
  padding: 1px 10px;
  font-size: 14px;
  margin-left: -9px;
  &:hover{
    background-color: #4bf;
    transition: 0.1s;
    cursor: pointer;
  }
}

.search-input{
  display: flex;
  justify-content: center;
  top: 4px;
  right: 20px;
  position: relative;
}

.fa-upload{
  height: 5px;
  width: 5px;
  margin-right: 14px;
}

.fa-search{
  height: 17px;
  top: -6px;
  right: 10px;
  margin: 0;
  margin-top: 1px;
  padding: 6px 10px 9px 10px;
  border: 1px solid #D0D8DB;
  border-left-width: 0;
  border-radius: 0 5px 5px 0;
  color: #8A9599;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
}

.search-logged-in{
  top: -2px;
}

.search-bar{
  position: relative;
  font-family: inherit;
  font-size: 14px;
  margin-right: 10px;
  color: gray;
  line-height: 1;
  font-weight: 400;
  border: 1px solid #D0D8DB;
  width: 221px;
  height: 32px;
  border-radius: 5px 0 0 5px;
  padding: 0 0 0 10px;
}

.search-bar:focus{
  outline: none;
}

.search-bar:hover{
  border-color: #879cab;
  transition: 0.2s;
}

.search-button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}


.nav-dropper{
  position: relative;
  &:hover > #nav-dropdown{
    opacity: 1;
    z-index: 999;
  }
}

#nav-dropdown{
  opacity: 0;
  position: absolute;
  left: -80px;
  top: 43px;
  z-index: -1;
  border: 3px solid #333;
  background: #fff;
  width: 200px;
  transition: 0.2s;
  font-family: inherit;
  font-size: 12px;
  border: 1px solid #D0D8DB;
  border-radius: 5px;
  li{
    &:hover{
      background-color: #e6eaec;
      cursor: pointer;
    }
    &:first-child{
      padding: 0px 30px 0px 15px;
      border-bottom: 1px solid #D0D8DB;
    }
    padding-left: 15px;
    background: transparent;
    z-index: 400;
  }
  &:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    height: 0;
    z-index: 300;
    top: -5px;
    left: 90px;
  }
}

.dropdown-link-border{
  border-bottom: 1px solid #D0D8DB;
}

.user-welcome{
  font-weight: 600;
}

.view-profile-sub{
  display: block;
  margin-top: -26px;
  margin-left: 1px;
  font-weight: 400;
  font-size: 11px;
}

#logout-button{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 12px;
}
