.logo{
  height: 31px;
  width: 146px;
  margin: -7px 40px;
}

#nav-bar-logged-in{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 42px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EEF1F2;
}

#nav-bar-logged-out{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 42px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EEF1F2;
}

.nav-left > li{
  list-style: none;
}

.nav-left > li{
  list-style: none;
}

.nav-left{
  display: flex;
  flex-direction: row;
}

.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-right > li{
  margin-right: 25px;
}

.nav-avatar{
  position: relative;
  vertical-align: center;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  top: 8px;

}

.join-button{
  text-decoration: none;
  margin-right: 20px;
  padding: 5px 10px;
  background: #7FC400;
  font-family: "Helvetica Neue";
  font-weight: 500;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.join-button:hover{
  background: #8aac42;
}

.login-button{
  text-decoration: none;
  margin-right: 20px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 15px;
  color: #607680
}

.login-button:hover{
  color: #000;
  transition: 0.5s;
}

.upload-button{
  background-color: #657987;
  padding: 1px 10px;
  line-height: 32px;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: 900;
  font-family: inherit;
  top: 0px;
  margin-left: -9px;
  position: relative;
}

.upload-button:hover{
  background-color: #4bf;
  transition: 0.1s;
  cursor: pointer;
}

.search-input{
  display: flex;
  justify-content: center;
  top: 4px;
  right: 20px;
  position: relative;
}

.fa-upload{
  height: 5px;
  width: 5px;
  margin-right: 14px;
}

.fa-search{
  height: 17px;
  top: -6px;
  right: 10px;
  margin: 0;
  margin-top: 1px;
  padding: 6px 10px 9px 10px;
  border: 1px solid #D0D8DB;
  border-left-width: 0;
  border-radius: 0 5px 5px 0;
  color: #8A9599;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
}

.search-logged-in{
  top: -2px;
}

.search-bar{
  position: relative;
  font-family: inherit;
  font-size: 14px;
  margin-right: 10px;
  color: gray;
  line-height: 1;
  font-weight: 400;
  border: 1px solid #D0D8DB;
  width: 221px;
  height: 32px;
  border-radius: 5px 0 0 5px;
  padding: 0 0 0 10px;
}

.search-bar:focus{
  outline: none;
}

.search-bar:hover{
  border-color: #879cab;
  transition: 0.2s;
}

.search-button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}


.nav-dropper{
  position: relative;
}

#nav-dropdown{
  opacity: 0;
  position: absolute;
  left: -80px;
  top: 43px;
  z-index: 999;
  border: 3px solid #333;
  background: #fff;
  width: 200px;
  transition: 0.2s;
  font-family: inherit;
  font-size: 12px;
  border: 1px solid #D0D8DB;
  border-radius: 5px;
}

#nav-dropdown li{
  padding-left: 15px;
  background: transparent;
  z-index: 400;
}

#nav-dropdown li:hover{
  background-color: #e6eaec;
  cursor: pointer;
}



.dropdown-link-border{
  border-bottom: 1px solid #D0D8DB;
}

#nav-dropdown:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  height: 0;
  z-index: 300;
  top: -5px;
  left: 90px;
}

.user-welcome{
  font-weight: 600;
}

.view-profile-sub{
  display: block;
  margin-top: -26px;
  margin-left: 1px;
  font-weight: 400;
  font-size: 11px;
}

#logout-button{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 12px;
}

#nav-dropdown > li:first-child{
  padding: 0px 30px 0px 15px;
  border-bottom: 1px solid #D0D8DB;
}

.nav-dropper:hover > #nav-dropdown{
  opacity: 1;
}
