@import 'mixins';

.splash-header{
  z-index: 999;
  position: absolute;
  color: white;
  top: 35%;
  left: 24%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

@media(max-width: 1024px){
  .splash-header{
    left: 17%;
  }
}
@media(min-width: 1650px){
  .splash-header{
    left: 32%;
  }
}
.splash-header-main{
  font-size: 72px;
}

.splash-header-secondary{
  margin-top: 5px;
  font-size: 18px;
}

.start-watching{
  @include ui-button;
  background-color: #7FC400;
  box-shadow: 11px 7px 26px -5px rgba(0,0,0,0.75);
  padding: .5625em .875em .65em;
  width: 45%;
  position: relative;
  margin-top: 30px;
  left: 25%;
  &:hover{
    background-color: #45A600;
    transition: 0.2s;
  }
}

.splash-logo{
  width: 50%;
  left: 23%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#main-logo{
  animation: fadein .4s;
}

#left1{
  top: -40px;
  left: -13px;
  animation: fadein 2s;
}

#left2{
  top: -24px;
  left: -4px;
  animation: fadein 3s;
}

#left3{
  top: -9px;
  left: 9px;
  animation: fadein 4.5s;
}

#left4{
  top: 5px;
  left: 34px;
  animation: fadein 5s;
}

#right1{
  top: -40px;
  right: 1px;
  animation: fadein 2s;
}

#right2{
  top: -25px;
  right: 10px;
  animation: fadein 3s;
}

#right3{
  top: -8px;
  right: 19px;
  animation: fadein 4.5s;
}

#right4{
  top: 6px;
  right: 36px;
  animation: fadein 5s;
}
