
.video-splash{
  height: 540px;
  z-index: 998;
}

.fa-chevron-down{
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 999;
  color: #fff;
}

.video-index-row{
  /*margin: 0 auto;*/
  /*padding: 30px 0 40px 0;
  max-width: 1720px;
  width: 80%;
  margin-left: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D0D8DB;*/
}


.row-title{
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.189;
  color: #40545C;
}

.row-title:hover{
  color: #000;
  transition: 0.75s;
}

.video-bar{
  display: flex;
  flex-direction: row;
}

/*.video-index-item-container{
  padding: 0 100px 0 0;

}*/

.video-index-item-title{
  display: block;
  color: #3A5161;
  font-family: inherit;
  font-size: .83rem;
  font-weight: 700;
  margin-top: 5px;
  max-width: 220px;
}

.title-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.index-uploader-info > a{
  text-decoration: none;
}

.index-uploader-avatar{
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  margin-right: .3125rem;
}
.index-item-uploader{
  position: relative;
  top: -2px;
  font-size: .75rem;
  color: #879CAB;
  margin-bottom: 2px;
}
.index-item-uploader:hover{
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

.index-item-views{
  border-left: 1px solid #D0D8DB;
  margin-left: .3125rem;
  padding-left: .3125rem;
  position: relative;
  top: -2px;
  font-size: .75rem;
  color: #879CAB;
}

.carousel-container {
  height: 200px;
  background-color: #fefdff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px 0 #dce0e0;
}

  .slider-slide {
    margin: 10px 10px 10px 0;
  }

.video-carousel{

}

.left-button{

}

.right-button{

}
