.video-index{
  margin-left: -23px;
}


.fa-chevron-down{
  position: absolute;
  top: 76%;
  left: 50%;
  z-index: 999;
  color: #fff;
}

.video-index-row{
  margin: 0 auto;
  padding: 30px 0 40px 0;
  max-width: 1720px;
  width: 80%;
  margin-bottom: 20px;
  border-bottom: 1px solid #D0D8DB;
}


.row-title{
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.189;
  color: #40545C;
}

.row-title:hover{
  color: #000;
  transition: 0.75s;
}

.video-bar{
  display: flex;
  flex-direction: row;
}

.video-index-item-container{
}

.video-index-item-title{
  display: block;
  color: #3A5161;
  font-family: inherit;
  font-size: .83rem;
  font-weight: 700;
  margin-top: 5px;
  max-width: 220px;
}

.title-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.index-uploader-info > a{
  text-decoration: none;
}

.index-uploader-avatar{
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  margin-right: .3125rem;
}
.index-item-uploader{
  position: relative;
  top: -2px;
  font-size: .75rem;
  color: #879CAB;
  margin-bottom: 2px;
}
.index-item-uploader:hover{
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

.index-item-views{
  border-left: 1px solid #D0D8DB;
  margin-left: .3125rem;
  padding-left: .3125rem;
  position: relative;
  top: -2px;
  font-size: .75rem;
  color: #879CAB;
}

.carousel-container {
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  left: 5%;
}


.video-carousel{

}

.left-button{
  position: relative;
  right: 40px;
  top: 0px;
  font-size: 24px;
  font-weight: 700;
  font-family: inherit;
  border: none;
  background-color: white;
  color: #657987;
}

.left-button:hover{
  color: #000;
  transition: 0.2s;
}

.left-button:focus{
  outline: none;
}

.right-button{
  position: relative;
  right: -5px;
  top: 0.5px;
  font-size: 24px;
  font-weight: 700;
  font-family: inherit;
  border: none;
  background: none;
  color: #657987;
}

.right-button:hover{
  color: #000;
  transition: 0.2s;
}

.right-button:focus{
  outline: none;
}
